/* Media queries */
/* Larger than mobile */
@media (min-width: 400px) {
    
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .factory-logo{
        padding: 0rem 1rem;
        text-align: left !important;
    }
    
    .toolbar{
        text-align: right !important;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .note{
        width: 80rem;
        border-radius: 0.5rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    
}
